<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kimhao.first_project">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/demokit_splash"
        android:label="AT_Inter"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDLn2sTfBYdCPMd6jw-TChESvc14KmOXQg"  />

        <activity
            android:name=".Activity.MainActivity_"
            android:label="AT_Inter"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.DIAL" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="tel" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.RegisterActivity_" />
        <activity
            android:name=".Activity.ListUserActivity_" />
        <activity
            android:name=".Activity.ActivityLogin_" />
        <activity
            android:name=".Activity.AddEditActivity_"/>
        <activity
            android:name=".Activity.PhoneCallActivity_" />
        <activity
            android:name=".Activity.MentorTaiActivity_"/>
        <activity
            android:name=".SharedPreferences.SharedPreferencesActitvity_" />
        <activity
            android:name=".Storage.StorageActivity_"/>
        <activity android:name=".Activity.UserDetailActivity_" />
        <activity
            android:name=".Activity.LoginSuccess_"/>
        <activity
            android:name=".Activity.FragmentActivity_"/>
        <activity
            android:name=".Service.ServiceActivity_" />

        <service android:name=".Service.MyService"/>

        <receiver android:name=".BroadcastReceiver.MyBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
                <action android:name="android.intent.action.BATTERY_LOW" />
                <action android:name="android.intent.action.BATTERY_OKAY" />
            </intent-filter>
        </receiver>

        <activity android:name=".BroadcastReceiver.BroadcastReceiverActivity_" />
        <activity android:name=".Activity.SendingActivity_">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.DemoToolbarActivity_" />
        <activity android:name=".Maps.MapsActivity_"/>
        <activity android:name=".Activity.AsyncTaskActivity_"/>
        <activity android:name=".API.ApiActivity_"/>
    </application>
</manifest>