<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kimhao.first_project">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/demokit_splash"
        android:label="AT_Inter"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDLn2sTfBYdCPMd6jw-TChESvc14KmOXQg"  />

        <activity
            android:name=".API.ApiActivity_"
            android:label="AT_Inter"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.DIAL" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="tel" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.ListUserActivity"
            android:label="@string/title_activity_recycler_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.ActivityLogin"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.AddEditActivity"
            android:label="@string/title_activity_data__transfer__recycler_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.PhoneCallActivity"
            android:label="@string/title_activity_phone__call"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.MentorTaiActivity"
            android:label="@string/title_activity_mentor__tai"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SharedPreferences.SharedPreferencesActitvity"
            android:label="@string/title_activity_shared_preferences"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Storage.StorageActivity"
            android:label="@string/title_activity_storage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.UserDetailActivity" />
        <activity
            android:name=".Activity.LoginSuccess"
            android:label="LoginSuccess" />
        <activity
            android:name=".Activity.FragmentActivity"
            android:label="Fragment" />
        <activity
            android:name=".Service.ServiceActivity"
            android:label="Serice" />

        <service android:name=".Service.MyService" />

        <receiver android:name=".BroadcastReceiver.MyBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
                <action android:name="android.intent.action.BATTERY_LOW" />
                <action android:name="android.intent.action.BATTERY_OKAY" />
            </intent-filter>
        </receiver>

        <activity android:name=".BroadcastReceiver.BroadcastReceiverActivity" />
        <activity android:name=".Activity.SendingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.DemoToolbarActivity" />
        <activity android:name=".Maps.MapsActivity"/>
        <activity android:name=".Activity.AsyncTaskActivity"/>
    </application>
</manifest>